.pages-container {
  background-color: $white;
  min-height: 100vh;
}


// UTILITY CLASSES

.text-orange {
  color: #F7A500;
}

.text-blue {
  color: #1C008B;
}

.text-white {
  color: white;
}

.text-grey {
  color: #d1d1d1;
}

.text-black {
  color: #000000;
}

.top-margin {
  margin-top: 30px !important;
}

.bottom-big-margin {
  margin-bottom: 300px !important;
}

.xs-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.sm-margin {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.md-margin {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.lg-margin {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.top-padding {
  padding-top: 150px !important;
}


.xs-padding {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.sm-padding {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.md-padding {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.lg-padding {
  padding-top: 100px !important;
  margin-bottom: 150px !important;
}

.bolder {
  font-size: 2.5rem;
  font-weight: bold;
}
/////// bg image

.bg-grey {
  background-color: #F5F5F5;
}

.bg-main{
    /* The image used */
    /* Full height */
    // transform: scale(1.48);
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // top: 500px;
    // justify-content: flex-start;
    // opacity: 0.6;

}

