// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #1C008B;
$yellow: #f9e675;
$orange: #FFA617;
$light-orange: #FFC13A;
$green: #32B796;
$gray: #000000;
$light-gray: #d1d1d1;
$white: #F9F9F9;
$black: #3E3E3E;
$dark-blue: #004984;
$light-blue: #84B4FE;
$very-light-blue: #C1DDF7;
