.goals-index {

}

.goals-index__header {

}

.goals-index-card {
  min-height: 30px;
  background-color: #edeef7;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.goals-index-card__subject {
  width: auto;
  height: 15px;
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 3px;
  display: flex;
  text-align: center;
  align-items: center;
}

.goals-index-card__time{
  margin-left: auto;
  margin-top: -8px;
  font-size: 14px;
  font-family: Montserrat;
}

.goals-index-card__title {
  width: auto;
  padding-left: 5px;
}


.goals-index-card__description {
  font-family: Montserrat;
}



.goals-container {
   a:hover, a:visited, a:link, a:active
  {
    color: #000000;
  }
}



.card__border-red {
  border-left: 10px solid #EB5A46;
}

.card__border-yellow {
  border-left: 10px solid #F7A500;
}

.card__border-green {
  border-left: 10px solid #61BD4F;
}

