.goals-index {

}

.goals-index__header {

}

.goals-index-card {
  min-height: 100px;
  background-color: white;
  border-left: 10px solid #F1383C;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.goals-index-card__subject {
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.goals-index-card__time{
  margin-left: auto;
  margin-top: -8px;
  font-size: 14px;
  font-family: Montserrat;
}

.goals-index-card__title {
  width: 100%;
}


.goals-index-card__description {
  font-family: Montserrat;
}
