.goal-add__dashboard-btn {
  border-radius: 25px;
  font-weight: bold;
  color: white;
  display: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 5px;
}

