.goal-show__wrapper{
  background-color: $white;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

.goal-show__top-content{
  display: flex;
  flex-direction: column;
  align-items: center;



}

.goal-show__goal-word{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family: Lato;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;

}

.goal-show__goal-title{
  color: orange;
  font-size: 4.5rem;
  padding-bottom: 2rem;
  font-family: Lato;
  font-weight: 350;


}
.add-task-btn{
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #FFA617;
  border-radius: 15px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  box-shadow: 6px 6px 35px -5px rgba(255,166,23,0.5);
  //  color: inherit;
  // text-decoration: none;


}

.add-task-btn2{
  font-size: 3.5rem;
  // color: inherit;
  // text-decoration: none;

}
.add-task-btn2:link {
    text-decoration: none;
    color: #ffffff;
}

/* visited link */
.add-task-btn2:visited {
    text-decoration: none;
    color: #ffffff;
}

/* mouse over link */
.add-task-btn2:hover {
    text-decoration: none;
    color: #ffffff;
}

/* selected link */
.add-task-btn2:active {
    text-decoration: none;
    color: #ffffff;
}

.goal-show-sexy{
    width: 0;
    height: 0;
    border-bottom: 60px solid black;
    border-top: 60px solid black;
    border-left: 60px solid yellow;
    border-right: 60px solid yellow;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}
.goal-show-sexy{
    width: 0;
    height: 0;
    border-bottom: 60px solid black;
    border-top: 60px solid black;
    border-left: 60px solid yellow;
    border-right: 60px solid yellow;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}
