.goal-show__wrapper{
  background-color: $white;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

.goal-show__top-content{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.goal-show__goal-word{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-family: Lato;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;

}

.goal-show__goal-title{
  color: orange;
  font-size: 4.5rem;
  padding-bottom: 2rem;
  font-family: Lato;
  font-weight: 350;


}
.add-task-btn{
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #FFA617;
  border-radius: 15px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  box-shadow: 6px 6px 35px -5px rgba(255,166,23,0.5);
  //  color: inherit;
  // text-decoration: none;


}

.add-task-btn2{
  font-size: 3.5rem;
  // color: inherit;
  // text-decoration: none;

}
.add-task-btn2:link {
    text-decoration: none;
    color: #ffffff;
}

/* visited link */
.add-task-btn2:visited {
    text-decoration: none;
    color: #ffffff;
}

/* mouse over link */
.add-task-btn2:hover {
    text-decoration: none;
    color: #ffffff;
}

/* selected link */
.add-task-btn2:active {
    text-decoration: none;
    color: #ffffff;
}


.youtube-container{
position: relative;
width: 280px;
height: 98px;
margin-bottom: 50px;
}

.youtube-card{
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  background:   #bf0000;
}

.youtube-card:hover{
  transform: rotateY(180deg);
}
.youtube-front{
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
  background:   #bf0000;
  color: white;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


}
.youtube-back{
  font-family: lato;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  font-size: 32px;
  text-align: center;
  backface-visibility: hidden;
  background:   #bf0000;
  color: white;
  transform: rotateY(180deg);


}

.link-container{
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  margin-bottom: 4rem;
  padding-bottom: 4rem;

}


.drive-container{
position: relative;
width: 280px;
height: 98px;
margin-bottom: 50px;
}

.drive-card{
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  background:   #bf0000;
}

.drive-card:hover{
  transform: rotateY(180deg);
}
.drive-front{
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
  background:   #FFB00F;
  color: white;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.drive-back{
  font-family: lato;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  font-size: 32px;
  text-align: center;
  backface-visibility: hidden;
  background:   #FFB00F;
  color: white;
  transform: rotateY(180deg);


}


.drop-container{
position: relative;
width: 280px;
height: 98px;
margin-bottom: 50px;
}

.drop-card{
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  background:   #4200FF;
}

.drop-card:hover{
  transform: rotateY(180deg);
}
.drop-front{
  position: absolute;
  width: 100%;
  height:100%;
  backface-visibility: hidden;
  background:   #4200FF;
  color: white;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.drop-back{
  font-family: lato;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  font-size: 32px;
  text-align: center;
  backface-visibility: hidden;
  background:   #4200FF;
  color: white;
  transform: rotateY(180deg);


}
