<div class="wrapper">
  <input checked type=radio name="slider" id="slide1" />
  <input type=radio name="slider" id="slide2" />
  <input type=radio name="slider" id="slide3" />
  <input type=radio name="slider" id="slide4" />
  <input type=radio name="slider" id="slide5" />

  <div class="slider-wrapper">
    <div class=inner>
      <article>
        <div class="info top-left">
          <h3>Run your marathon</h3></div>
        <img src="https://i.imgur.com/xIjZkOP.jpg" />
      </article>

      <article>
        <div class="info top-left">
          <h3>Conquer your moutains</h3></div>
        <img src="https://images.unsplash.com/photo-1521488517399-2b4ed09655fa?ixlib=rb-0.3.5&s=d097c0ed15d248b7b66e14759103961b&auto=format&fit=crop&w=750&q=80" />
      </article>

      <article>
        <div class="info top-left">
          <h3>One step at a time</h3></div>
        <img src="https://images.unsplash.com/photo-1502101872923-d48509bff386?ixlib=rb-0.3.5&s=c42153c72d9c00399c0890991ddd4882&auto=format&fit=crop&w=889&q=80" />
      </article>

      <article>
        <div class="info top-left">
          <h3>Make plans and follow through</h3></div>
        <img src="https://images.unsplash.com/photo-1504697570352-47c3bbc09af9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=640661ad699ad6be9171561b9822ccf1&auto=format&fit=crop&w=500&q=60" />
      </article>

      <article>
        <div class="info top-left">
          <h3>Find your own way</h3></div>
        <img src="https://images.unsplash.com/photo-1506494491502-7563f654329e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ddb249735b386f1cc9dcf2414b17dfd&auto=format&fit=crop&w=500&q=60" />
      </article>
    </div>
    <!-- .inner -->
  </div>
  <!-- .slider-wrapper -->

  <div class="slider-prev-next-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>
  <!-- .slider-prev-next-control -->

  <div class="slider-dot-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>
  <!-- .slider-dot-control -->
</div>
