<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/oulanakhle/learn_box"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/thelearnbox/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/Learn-Box-230130457848782/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/InspiringDinne1"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/learn-box-54928b16b/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
