<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jcllobet/inspiring-dinners"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/inspiringdinners/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/Inspiring-Dinners-451784615307840/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/InspiringDinne1"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/inspiring-dinners-54928b16b/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
