<div class="banner" style="padding:56.25% 0 0 0;position:relative; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1505778276668-26b3ff7af103?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c31c1a0b3ef5bab89aa621ae99620451&auto=format&fit=crop&w=1343&q=80');">
  <div class="bar">
    <h1>Achive your Goals</h1>
    <p>Master any topic by crowdsourcing the best content and collaborating with other students</p>
    <wrapper class="flex center">
      <a class="btn btn-danger btn-lg" src=<%= link_to "Sign up for free", root_path %></a>
    </wrapper>
  </div>
</div>
