<div class="pricing">

  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Basic</span>
      <span>Hard to fulfill</span>
    </div>
    <span class="price">Free</span>
    <ul class="features text-grey" >
      <li><del>Selfwill</del></li>
      <li><del>Lots of time</del></li>
      <li><del>Patience</del></li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>

  <div class="promo scale text-center xs-padding">
    <div class="deal">
      <span>LearnBox</span>
      <span>Pay only if you fail!</span>
    </div>
    <span class="price">From 5€/pledge</span>
    <ul class="features">
      <li>Measurable</li>
      <li>Actionable</li>
      <li>Simple</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-primary btn-md goal-add__dashboard-btn" %>
  </div>


  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Coach</span>
      <span>Not worth your money</span>
    </div>
    <span class="price"><del style="color: #d1d1d1">50€/session</del></span>
    <ul class="features text-grey">
      <li><del>More time required</del></li>
      <li><del>Motivational bullshit</del></li>
      <li><del>No data tracking</del></li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>


</div>
