<div class="promos">

  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Premium</span>
      <span>This is really a good deal!</span>
    </div>
    <span class="price">$79</span>
    <ul class="features">
      <li>Some great feature</li>
      <li>Another super feature</li>
      <li>And more...</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>

  <div class="promo scale text-center xs-padding">
    <div class="deal">
      <span>Plus</span>
      <span>This is really a good deal!</span>
    </div>
    <span class="price">$89</span>
    <ul class="features">
      <li>Some great feature</li>
      <li>Another super feature</li>
      <li>And more...</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-primary btn-md goal-add__dashboard-btn" %>
  </div>

  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Basic</span>
      <span>Basic membership</span>
    </div>
    <span class="price">$69</span>
    <ul class="features">
      <li>Choose the one on the left</li>
      <li>We need moneyy</li>
      <li>And more...</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>
</div>
