<%= render 'shared/home-banner' %>

<div class="container" id="howto">
  <h1 class="">It’s simple.</h1>
  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e41af172b07cceb6ccc1c785e5463e3f&auto=format&fit=crop&w=1350&q=80'); height: 50vh;">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h2 class="">Browse</h2>
          <h4 class="">Select a dinner you want to join and send a booking request.</h4>
          <p class="">Inspiring Dinners carefully curates successful entrepreneurs that are seeking to pass their knowledge into the younger generations.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h2 class="">Book a seat</h2>
          <h4 class="card--">We will contact you to finalize details.</h4>
          <p class="">Each entrepreneur has a limited availability and they will do their best to accommodate requested dates in their schedule.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h2 class="">Enjoy & Learn</h2>
          <h4 class="">Finally, pay online and enjoy your meal.</h4>
          <p class="">Once details are confirmed, you’ll receive a confirmation email with all details needed before arriving at the dinner spot.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-danger btn-block" src=<%= link_to "Book a seat", root_path %></a>
</div>

<hr>

<div class="container">
  <h1 class="">Dinner insights.</h1>
  <div class="text-center">
    <figure class="testimonial">
      <figcaption>
        <blockquote>
          <p>If you can't feed a team with a pizza, it's too large.</p>
        </blockquote>
        <h3>Jeff Bezos</h3>
        <h4>Amazon</h4>
      </figcaption>
    </figure>
    <figure class="testimonial">
      <figcaption>
        <blockquote>
          <p>If you are offered a rocket ship, don't ask what seat</p>
        </blockquote>
        <h3>Sheryl Sandberg</h3>
        <h4>Facebook</h4>
      </figcaption>
    </figure>
    <figure class="testimonial">
      <figcaption>
        <blockquote>
          <p>I could either watch it happen or be a part of it </p>
        </blockquote>
        <h3>Elon Musk</h3>
        <h4>Tesla</h4>
      </figcaption>
    </figure>
  </div>
</div>

<hr>

<div class="container" id="host">
  <h1 class="">Why host?</h1>
  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1526891993611-eca1e7d7b582?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4949bbed7ab249b09d51d2ebea2dd87&auto=format&fit=crop&w=1350&q=80'); height: 50vh;">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h3 class="">Take the initiative</h3>
          <h4 class="">Become a power host</h4>
          <p class="">become the hub of the Community through your own dinners.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h3 class="">Invite others</h3>
          <h4 class="card--">Next, You will invite people to your event directly</h4>
          <p class="">preparing a guest list, make sure that your dinner is the best one in town</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="">
          <h3 class="">Prepare the event</h3>
          <h4 class="">Finally, its the day of the event</h4>
          <p class="">Once details are confirmed, you’ll receive a confirmation email with all details needed</p>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-danger btn-block" src=<%= link_to "Host a dinner", root_path %></a>
</div>
