.banner {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 40vh;

}

.bar{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width:90vh;
    top: 16%;
    color: white;
}

.bar h1 {
  font: montserrat;
  font-size: 40px;
  font-weight: regular;
  text-align:center;
}
.bar p {
  font: montserrat;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.h5__top {
  position: absolute;
  top: 80px;
  right: 10px;
  color: white;
  font-size: 25px;
  font: montserrat;
}

.holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-lg {
  border-color: #211c2b;
  margin: 0 auto;
  border-radius: 25px;
  background: transparent;
}

.btn-lg:hover {
  background: #211c2b;
  opacity: 1;
}

.bar a {
  color: white;
}

.bar a:hover {
  color: white;
}
