.homepage-banner {
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
}

.features__heading {
  font-size: 70px;
  color: #3E3E3E;
  font-weight: 900;
  font-family: Lato;
  justify-content: center;
}

.features__text {
  font-size: 25px;
  margin-top: 30px;
  font-family: Lato;
  max-width: 600px;
}


