
.banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 30vh;
}

.bar{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width:90vh;
    top: 16%;
    color: white;
}

.banner h1 {
  font: montserrat;
  font-size: 70px;
  font-weight: regular;
  text-align:center;
}
.banner p {
  font: montserrat;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.h5__top {
  position: absolute;
  top: 80px;
  right: 10px;
  color: white;
  font-size: 25px;
  font: montserrat;
}
