.btn-homepage {
  background-color: #FFA617;
  color: white;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 13px;
  text-transform: uppercase;
  padding-bottom: 14px;
  margin-top:60px;
  box-shadow: 6px 6px 35px -5px rgba(255,166,23,0.5);

  &:hover {
    color: white;
  }
}
