.form-container{
  background-color: white;
  padding-left: 15px;
  margin-top: -25px;
  padding-top: 25px;


}

.form-control{
  margin-top: 0px;
  margin-right: 100px;
  width: 90%;
  border: transparent;
}

.form-control-label{
  font-weight: bold;
}

.btn-primary {
  font-weight: bold;
  padding-left:  20px;
  padding-right: 20px;
  background-color: #00408B;
}
