.form-container{
  background-color: white;
  margin-bottom: -45px;
  padding-left: 15px;

  h1 {
    margin-top: 0px;
  }

}
.form-control{
  margin-top: 0px;
  margin-right: 100px;
  width: 98%;
}

.form-control-label{
  font-weight: 400;
}
