.ctn-login {
  min-height: 100vh;
  background-color: white;
  margin-bottom: -45px;
}

.login-top {
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  h3 {
    margin: 0px;
    color: #f7a500;
    font-size: 32px;
    font-weight: bold;
  }
}

.login-box {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  display: block;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: url('https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg');
  background-size: cover;
  -webkit-filter: #211c2b(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(255,255,255,0.7);
  z-index: -1;
}
