body {
     a:hover, a:visited, a:link, a:active
  {
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.pages-container {
  margin-top: 45px;
}

.text-orange {
  color: #F7A500;
}

.text-blue {
  color: #1C008B;
}

.top-margin {
  margin-top: 30px !important;
}
