 .task-card{
  padding: 2em;
  display: flex;
  justify-content: space-between;

  background: white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
  font-family: Lato;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
///////////////////////////////////// active
    &.active {
      padding: 2em;
      display: flex;
      justify-content: space-between;
      background-color: #78cd70;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
      font-family: Lato;
      margin-bottom: 4rem;
      padding-bottom: 4rem;
      background-image: url('wiggle.svg');

      ////////

      .task-card-taskname{
        font-size: 24px;
        font-weight: 500;
        color: white;
      }

      // .task-card-taskname::after{
      //   content: 'This task was done good job!';
      // }

      ///////

      .task-card-left{
          display: flex;
          align-items: flex-end;
        h2{
          margin-bottom: 0px;
          margin-top: 0px;
          margin-left: 20px;
        }
      }

      ///////////
      .task-card-check{
        width: 20px;
        height: 20px;
      }

      ////////

      .task-card-delete{
        width: 20px;
        height: 20px;
      }
    ////////////

    .task-card-edit{
      display: none;
      img{
      width: 20px;
      height: 20px;
      margin: 0 15px;
      }
    }

    .task-card-edit-white{
      display: block;
        img{
      width: 20px;
      height: 20px;
      margin: 0 15px;
      }
    }
    .task-card-check-white{
      display: block;
      width: 20px;
      height: 20px;
    }

    .task-card-check{
      display: none;
      width: 20px;
      height: 20px;


    }
/////////////////////////
    .task-card-delete-white{
    display: block;
    width: 20px;
    height: 20px;

    }
    .task-card-delete{
    display: none;
    width: 20px;
    height: 20px;

    }
    }
 }




//////////////////////////////// not active


.task-card__row{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  width: 65%;
}


.task-card-delete{
display: block;
width: 20px;
height: 20px;

}
.task-card-delete-white{
display: none;
width: 20px;
height: 20px;

}

.task-card-check{
  display: block;
  width: 20px;
  height: 20px;
}

.task-card-check-white{
  display: none;
  width: 20px;
  height: 20px;


}

.task-card-left{
  display: flex;
  align-items: flex-end;
  h2{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
  }

}

.task-card-taskname{
  font-size: 24px;
  font-weight: 500;
}


.task-card-edit{
  display: block;
  img{
  width: 20px;
  height: 20px;
  margin: 0 15px;
  }
}

.task-card-edit-white{
  display: none;
    img{
  width: 20px;
  height: 20px;
  margin: 0 15px;
  }
}

 // .task-card-completed{
 //  padding: 2em;
 //  display: flex;
 //  justify-content: space-between;
 //  background-color: #78cd70;
 //  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
 //  font-family: Lato;
 //  margin-bottom: 4rem;
 //  padding-bottom: 4rem;
 //  background-image: url('wiggle.svg');


 // }



// .task-card-edit-completed{
// img{
// width: 20px;
// height: 20px;
// margin: 0 15px;
// }

// }

// .task-card-delete-completed{
// width: 20px;
// height: 20px;
// }

// .task-card-check-completed{
//   width: 20px;
//   height: 20px;
// }

// .task-card-taskname-completed{
//   font-size: 24px;
//   font-weight: 500;
//   color: white;
//   // text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;

// }


// .task-card-left-completed{
//     display: flex;
//     align-items: flex-end;
//   h2{
//     margin-bottom: 0px;
//     margin-top: 0px;
//     margin-left: 20px;
//   }

// }



////////
