<div class="container">
  <p class="text-center text-orange"> <strong>Dashboard</strong></p>

  <div class="goals-index__card">
    <div class="subject_button">
      Subject.name
    </div>
    <div class = "subject_time">
      Subject.time
    </div>
    <div class = "subject_deadline">
      Subject.deadline
    </div>
    <p> Subject.description </p>
  </div>

  <div class="goals-index__card">
    <p>nesting</p>
  </div>

  <div class="goals-index__card">
    <p> besting</p>
  </div>

</div>
