<div class = "bg-grey">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="dashboard__h3 text-center top-padding">Browse and add goals to your dashboard 👇</h3>
      </div>
    </div>
    <div class="dashboard__cards-wrapper lg-padding">
      <div class="row">
        <%= render 'shared/goal-card' %>
      </div>
      <div class="col-xs-12">
        <div class=" dashboard__parent-btns text-center xs-margin">
          <%= link_to "DASHBOARD", dashboard_path, class: "btn btn-orange dashboard__btn-side-margin" %>
        </div>
      </div>
    </div>
  </div>
</div>
