 <%if @difficulty %>
  if ( typeof parentId === "undefined") {
    parentId = "<%= @difficulty %>-parent"
  } else {
    previousTrigger = document.querySelector(`#${parentId}`);
    previousTrigger.classList.toggle("goal-index-filter__active");
    parentId = "<%= @difficulty %>-parent"
  }
    trigger = document.querySelector(`#${parentId}`);
    trigger.classList.toggle("goal-index-filter__active");

  //TODO: Go back to showing everything once they click on disable filter (hard)

  if ( typeof cardContainer === "undefined") {
    cardContainer = document.querySelector ("#row__card-holder")
    console.log("its my first time")
    let original = cardContainer.innerHTML
    console.log(`${original}`)
  } else {
    cardContainer = document.querySelector ("#row__card-holder")
    console.log("its nth time")
  }
  cardContainer.innerHTML = "";
  var row = `<%= j render 'shared/goal-card' %>`
  cardContainer.insertAdjacentHTML("afterbegin", row )


 <%else %>
   console.log("You suck at coding")
 <%end %>


//   Add class to coloured circle that has the id of the difficulty
//   Clear the html from the row that holds the cards
//   Fill the row with the card html for each one

//  let card =  `
//  <div class="col-xs-12 col-sm-6">
//     <!-- if I link to do it fucks up the card -->
//         <div class="product card__border-orange">

//         <a class="product-link" href="/goals/1440/show_public">
//           <div class="product-upvote">
//             <div class="product-arrow"></div>
//             <div class="product-count">196</div>
//             <div class="product-downvote"></div>
//           </div>
//           <img class="product-image hidden-xs" src="/assets/others-284799cde2881adcd478b848cf0e513c85f72b3cdadce04e770e53c2a5d50e7b.svg">
//           <div class="product-body">
//             <h6>Average completion: 67 Hours</h6>
//             <h3>Try being a vegan</h3>
//             <p>OTHERS</p>
//           </div>
// </a>          <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
//             <li><a class="far fa-star" rel="nofollow" data-method="post" href="/create_from_copy?id=1440">Add</a></li>
//           </ul>
//       </div>
//   </div>`

//<% @goals.sort_by { |goal| goal.difficulty } %>
