<div class = "bg-grey">
  <div class="container md-margin">
    <h6 class="pages-dashboard__small-text">  Suggested Goals</h6>
    <div class="row">
      <%= render 'shared/goal-card' %>
  </div>
</div>
